.contact-us-form {
  padding: 1rem;
  border-radius: 6px;
  background: transparent;
  &__item {
    margin: 1rem 0;
    position: relative;
    text-align: left;
  }
  &__input {
    appearance: none;
    background: transparent;
    width: 100%;
    padding: 0.85rem 0;
    padding-right: 3rem;
    border: none;
    border-bottom: 2px solid white;
    font-weight: 700;
    font-family: inherit;
    color: white;
    &::placeholder {
      font-weight: 700;
      font-family: inherit;
      color: rgb(211, 211, 211);
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid $Dark-Blue;
    }
  }
  &__err-msg {
    font-size: 0.75rem;
    font-weight: 700;
    color: $Red;
    text-align: right;
    width: 100%;
    padding: 0.5rem 0.5rem;
  }
  &__indicator {
    position: absolute;
    top: 32.5px;
    right: 10px;
    display: none;
  }
  &__input:focus:invalid {
    border-bottom: 2px solid $Red;
    & ~ .contact-us-form__indicator {
      display: block;
    }
  }
  .btn {
    width: 100%;
  }
  @include mQ(768px) {
    border-radius: 10px;
    padding: 2rem;
    &__item {
      margin: 1.35rem 0;
    }
    &__input {
      padding: 1rem;
      font-weight: 700;
    }
  }
}

label {
  padding: 0.5rem 0;
}
